{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'DataTables/datatables.min.css' %}">
    <script src="{% static 'DataTables/datatables.min.js' %}"></script>
{% endblock head %}

{% block content %}
    <div class="container">
        <br>

        {% if messages %}
            {% for message in messages%}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        <div class="card">
            <div class="card-header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <h3>Member List</h3>
                        </div>
                        <div class="col-sm">

                        </div>
                        <div class="col-sm">
                            <a class="button btn btn-primary float-end" href="{% url 'member_register' %}">Add Members</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="memberTable" class="table display">
                    <thead>
                        <tr>
                            <th>Profile Picture</th>
                            <th>Member ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Telephone Number</th>
                            <th>Date Joined</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for member in members %}
                            <tr>
                                <td class="align-middle"> <img class="rounded" src="{{ member.member_profile_picture.url }}" alt="member_profile picture" width="75px" height="75px"> </td>
                                <td class="align-middle">{{ member.member_id }}</td>
                                <td class="align-middle">{{ member.member_first_name }}</td>
                                <td class="align-middle">{{ member.member_last_name }}</td>
                                <td class="align-middle">{{ member.member_tp_number }}</td>
                                <td class="align-middle">{{ member.member_join_at }}</td>
                                <td class="align-middle">
                                    <a class="button btn btn-primary" href="{% url 'member_view' member.member_id %}">View</a>
                                    <a class="button btn btn-warning" href="{% url 'member_edit' member.member_id %}">Edit</a>
                                    <a class="button btn btn-danger" href="{% url 'member_delete' member.member_id %}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>

        $(document).ready(function (){
           $('#memberTable').DataTable({
               paging: true,
               searching: true,
               order: [[1, 'asc']],
               columnDefs: [
                   {targets: -1, orderable: false},
                   {targets: -2, orderable: false},
                   {targets: -3, orderable: false},
               ]
           });
        });
    </script>

{% endblock content %}