{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <br>

        <div class="card shadow">
            <div class="card-header">
                <h3 class="text-center">Member Details - {{ member.member_first_name }} {{ member.member_last_name }}</h3>
            </div>

            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <img src="{{ member.member_profile_picture.url }}" class="rounded float-end img-fluid mx-auto d-block" alt="{{ member.member_first_name }} profile picture" height="300" width="300">
                        </div>

                        <div class="col-sm">
                            <img src="{{ member.member_qr_code.url }}" class="rounded float-start img-fluid mx-auto d-block qr-code" alt="{{ member.member_first_name }} qr code" height="300" width="300">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="member_id" class="form-label">Member ID</label>
                    <input type="text" class="form-control" value="{{ member.member_id }}" disabled>
                </div>

                <div class="mb-3">
                    <label for="member_fill name" class="form-label">Full Name</label>
                    <input type="text" class="form-control" value="{{ member.member_initials }} {{ member.member_first_name }} {{ member.member_last_name }}" disabled>
                </div>

                <div class="mb-3">
                    <label for="member_address" class="form-label">Address</label>
                    <input type="text" class="form-control" value="{{ member.member_address }}" disabled>
                </div>

                <div class="mb-3">
                    <label for="member_dob" class="form-label">Date of Birth</label>
                    <input type="text" class="form-control" value="{{ member.member_dob }}" disabled>
                </div>

                <div class="mb-3">
                    <label for="member_tp_number" class="form-label">Telephone Number</label>
                    <input type="text" class="form-control" value="{{ member.member_tp_number }}" disabled>
                </div>

                <div class="mb-3">
                    <label for="member_acc_no" class="form-label">Account Number</label>
                    <input type="text" class="form-control" value="{{ member.member_acc_number }}" disabled>
                </div>

                <div class="mb-3">
                    <label for="member_guardian_name" class="form-label">Guardian/Parent Name</label>
                    <input type="text" class="form-control" value="{{ member.member_guardian_name }}" disabled>
                </div>

                <div class="mb-3">
                    <label for="member_date_join" class="form-label">Date Join</label>
                    <input type="text" class="form-control" value="{{ member.member_join_at }}" disabled>
                </div>

                {% if user.is_authenticated %}
                    <div class="container">
                        <div class="row">
                            <div class="col-sm mb-2">
                                <div class="row">
                                    <a class="btn btn-warning button" type="button" href="{% url 'member_edit' member.member_id %}" >Edit</a>
                                </div>
                            </div>

                            {% if user.is_superuser %}
                                <div class="col-sm mb-2">
                                    <div class="row">
                                        <a class="btn btn-danger button" type="button" href="{% url 'member_delete' member.member_id %}" >Delete</a>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="col-sm mb-2">
                                <div class="row">
                                    <a class="btn btn-secondary button" type="button" href="{% url 'member_attendance_report' member.member_id %}" >Member Report</a>
                                </div>
                            </div>

                            {% if user.is_superuser %}
                                <div class="col-sm mb-2">
                                    <div class="row">
                                        <a class="btn btn-secondary button" type="button" href="{% url 'member_attendance_export' member.member_id %}" >Member Report Download</a>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="col-sm mb-2">
                                <div class="row">
                                    <a class="btn btn-info button" type="button" href="{% url 'member_qr_generator' member.member_id %}" >Member QR Generator</a>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
        <br>
    </div>

{% endblock content %}