{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'adminDashboard/css/sb-admin-2.min.css' %}">
    <script src="{% static 'adminDashboard/js/sb-admin-2.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock head %}

{% block content %}
    <div class="container">
        <br>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        <h1 class="text-center">Welcome to the membership Management System</h1>
        <br>

        <div class="row">

            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Members (All)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ all_members }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Members (Active)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ active_members }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Members (Non-Participation)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ passive_members }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Staff</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ all_staff }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row justify-content-between">

            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Total Meetings</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ all_meeting }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Meeting - {{ latest_meeting.meeting_date.meeting_date|date:"d M Y" }} - Members</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ latest_meeting_member_count }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Statics</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">Active Members <span class="float-right">{{ active_members_percentage }}%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ active_members_percentage }}%" aria-valuenow="{{ active_members_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Non-Participating Member<span class="float-right">{{ passive_members_percentage }}%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: {{ passive_members_percentage }}%" aria-valuenow="{{ passive_members_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Attendance Chart - {{ current_year }}</h6>
            </div>
            <div class="card-body">
                <canvas id="attendanceChart" class="chart-area"></canvas>
                <hr>
            </div>
        </div>
    </div>

    <script>
        var ctx = document.getElementById('attendanceChart').getContext('2d');
        var meetingDates = {{ meeting_dates|safe }};
        var attendanceCounts = {{ attendance_counts|safe }};

        new Chart(ctx, {
            type: 'line',  // Use 'line' for a line chart
            data: {
                labels: meetingDates,
                datasets: [{
                    label: 'Attendance Count',
                    data: attendanceCounts,
                    fill: true,  // Don't fill the area under the line
                    borderColor: 'rgba(0, 123, 255, 0.7)',  // Line color
                    borderWidth: 3  // Line width
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        stepSize: 1
                    }
                }
            }
        });
    </script>

{% endblock content %}